html, body {
  margin: 0;
  padding: 0;
  font-family: "Lato-Regular";
}

@font-face {
  font-family: "Lato-Regular";
  src: url(../../fonts/Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: "Lato-Italic";
  src: url(../../fonts/Lato/Lato-Italic.ttf);
}
@font-face {
  font-family: "Lato-Bold";
  src: url(../../fonts/Lato/Lato-Bold.ttf);
}
@font-face {
  font-family: "Lato-BoldItalic";
  src: url(../../fonts/Lato/Lato-BoldItalic.ttf);
}
.btn {
  width: max-content;
  padding: 8px 15px;
  font-size: 0.9em;
  font-weight: 600;
  border: 1px solid #000000B2;
  border-radius: 2px;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .btn {
    padding: 5px 8px;
    font-size: 0.8em;
  }
}
.btn--large {
  padding: 20px 25px;
}
@media only screen and (max-width: 600px) {
  .btn--large {
    padding: 15px 20px;
  }
}
.btn--blue {
  color: #fff;
  background-color: #009AC6;
}
.btn--black {
  color: #fff;
  background-color: #040404;
}

.show {
  display: flex !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
}
@media only screen and (max-width: 600px) {
  .header {
    padding: 15px 20px;
  }
}
.header__logo {
  width: 40%;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  .header__logo {
    padding: 0 0 0 15px;
  }
}
@media only screen and (max-width: 600px) {
  .header__logo img {
    height: 15px;
  }
}
.header__btn {
  width: 30%;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  .header__btn {
    width: max-content;
  }
}

.hero {
  background-color: #111111;
  padding: 0 50px 50px;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  .hero {
    padding: 0 0 30px;
    flex-direction: column;
  }
}
.hero__img {
  width: 40%;
  display: flex;
  justify-content: start;
}
@media only screen and (max-width: 600px) {
  .hero__img {
    width: 100%;
    justify-content: center;
  }
}
@media only screen and (max-width: 600px) {
  .hero__img img {
    height: 350px;
  }
}
.hero__titles {
  width: 40%;
  padding: 50px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .hero__titles {
    width: 100%;
  }
}
.hero__titles__logo {
  width: 480px;
}
@media only screen and (max-width: 600px) {
  .hero__titles__logo {
    height: 40px;
  }
}
.hero__titles h3 {
  color: #fff;
  font-size: 1.4em;
  margin: 40px 0 0;
  font-family: "Lato-Bold";
}
@media only screen and (max-width: 600px) {
  .hero__titles h3 {
    font-size: 1.1em;
  }
}
.hero__titles p {
  color: #fff;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .hero__titles p {
    width: 70%;
    font-size: 0.9em;
    margin: 10px 0;
  }
}
.hero__titles .btn {
  margin: 20px 0 0;
}
.hero__titles__arrow {
  width: 35px;
  margin: 20px 0 0;
}

.about {
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 50px 0;
  color: #000000B2;
  text-align: justify;
}
@media only screen and (max-width: 600px) {
  .about {
    width: 90%;
  }
}
.about__title h1 {
  color: #009AC6;
  font-size: 2.1em;
  font-family: "Lato-Bold";
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .about__title h1 {
    font-size: 1.5em;
  }
}
.about__captions {
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 600px) {
  .about__captions {
    flex-direction: column;
  }
}
.about__captions > p {
  width: 42%;
  font-size: 0.8em;
}
@media only screen and (max-width: 600px) {
  .about__captions > p {
    width: 100%;
    margin: 10px 0 0;
  }
}
.about__captions__right {
  width: 48%;
  font-size: 0.8em;
}
@media only screen and (max-width: 600px) {
  .about__captions__right {
    width: 100%;
  }
}
.about__captions__right__1 {
  display: flex;
}
.about__captions__right__1 > img {
  width: 40px;
  margin: 0 15px 0 0;
}
.about__captions__right > p {
  margin: 0;
}
.about__thirdcapt {
  margin: 20px 0;
  text-align: center;
  font-family: "Lato-Bold";
  color: #111111;
  font-size: 0.9em;
}
@media only screen and (max-width: 600px) {
  .about__thirdcapt {
    display: flex;
    flex-direction: column;
  }
}
.about__thirdcapt :nth-child(2) {
  color: #F0534D;
  font-size: 1.2em;
  font-family: "Lato-BoldItalic";
  margin: 0 0 0 10px;
}

.form {
  color: #fff;
  background-color: #009AC6;
  background-image: url("../../img/Curtis_background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.form__section {
  width: 75%;
  display: flex;
  justify-content: start;
  margin: 0 auto;
  padding: 80px 0;
}
@media only screen and (max-width: 600px) {
  .form__section {
    flex-direction: column;
    width: 90%;
  }
}
.form__caption {
  width: 40%;
}
@media only screen and (max-width: 600px) {
  .form__caption {
    width: 100%;
  }
}
.form__caption > h1 {
  font-size: 2.2em;
  font-family: "Lato-Bold";
}
@media only screen and (max-width: 600px) {
  .form__caption > h1 {
    font-size: 1.9em;
  }
}
.form__caption > p {
  width: 80%;
  font-size: 1.1em;
}
@media only screen and (max-width: 600px) {
  .form__caption > p {
    width: 100%;
    font-size: 1em;
  }
}
.form__forms {
  width: 50%;
  margin: 0 0 0 40px;
}
@media only screen and (max-width: 600px) {
  .form__forms {
    width: 100%;
    margin: 0;
  }
}
.form__each {
  margin: 10px 0;
  font-size: 1.1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .form__each {
    font-size: 1.1em;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
  }
}
.form__each input, .form__each select {
  width: 70%;
  height: 57px;
  margin: 0 0 0 20px;
  padding: 0 20px;
  border: none;
  border-radius: 3px;
  background-color: #fff;
}
@media only screen and (max-width: 600px) {
  .form__each input, .form__each select {
    margin: 0;
    width: 100%;
  }
}
.form__actions {
  margin: 30px 0 0 50px;
  display: flex;
  justify-content: space-between;
}
.form__actions > span {
  font-size: 0.8em;
}

.program {
  background-image: url("../../img/Abby_background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.program__section {
  color: #111111;
  width: 75%;
  text-align: center;
  margin: 0 auto;
  padding: 50px 0 70px;
}
@media only screen and (max-width: 600px) {
  .program__section {
    width: 90%;
  }
}
.program__section > h1 {
  margin: 0;
  padding: 20px 0;
  font-family: "Lato-Bold";
}
@media only screen and (max-width: 600px) {
  .program__section > h1 {
    font-size: 1.5em;
  }
}
.program__caption {
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 600px) {
  .program__caption {
    flex-direction: column;
  }
}
.program__caption > p {
  text-align: justify;
  font-size: 0.8em;
  padding: 0 10px;
}

.faq {
  background-image: url("../../img/Taliqua_background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.faq__section {
  color: #fff;
  width: 75%;
  margin: 0 auto;
  padding: 70px 0;
}
@media only screen and (max-width: 600px) {
  .faq__section {
    width: 90%;
  }
}
.faq__section > h1 {
  margin: 0;
  padding: 0 0 20px 0;
  font-family: "Lato-Bold";
  text-align: center;
}
.faq__eachQ, .faq__eachA {
  width: 60%;
  border-radius: 3px;
  margin: 0 auto;
  padding: 0 20px;
}
@media only screen and (max-width: 600px) {
  .faq__eachQ, .faq__eachA {
    width: 80%;
    margin: auto;
  }
}
.faq__eachQ > span, .faq__eachA > span {
  margin: 0 20px 0 0;
  font-size: 0.9em;
  font-family: "Lato-Bold";
}
.faq__eachQ > p, .faq__eachA > p {
  margin: 0;
  font-size: 0.8em;
}
.faq__eachQ {
  height: 50px;
  background-color: #BA3A3A33;
  align-items: center;
  display: flex;
}
.faq__eachA {
  padding: 20px 20px;
  color: #111111;
  background-color: #fff;
  display: none;
  align-items: flex-start;
}
.faq__eachA > span {
  color: #F0534D;
}
.faq__list {
  margin: 10px 0;
  cursor: pointer;
}

.footer {
  width: 75%;
  margin: 0 auto;
  padding: 50px 0;
}
@media only screen and (max-width: 600px) {
  .footer {
    width: 90%;
  }
}
.footer__logo {
  margin: 0 0 15px;
  display: flex;
  justify-content: flex-end;
}
@media only screen and (max-width: 600px) {
  .footer__logo {
    justify-content: center;
  }
}
.footer__logo img {
  height: 40px;
}
@media only screen and (max-width: 600px) {
  .footer__logo img {
    height: 50px;
  }
}
.footer__nav {
  border-top: 1px solid #000000B2;
}
.footer__nav ul {
  padding: 0;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  .footer__nav ul {
    flex-wrap: wrap;
  }
}
.footer__nav ul li {
  color: #000000B2;
  font-size: 0.7em;
  list-style: none;
  cursor: pointer;
}
.footer__nav ul li:nth-child(2), .footer__nav ul li:nth-child(3), .footer__nav ul li:nth-child(4), .footer__nav ul li:nth-child(5), .footer__nav ul li:nth-child(6), .footer__nav ul li:nth-child(7), .footer__nav ul li:nth-child(8) {
  border-left: 1px solid #000000B2;
  margin: 0 0 0 5px;
  padding: 0 0 0 5px;
}
.footer__tm {
  font-size: 0.7em;
  color: #000000B2;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__tm span:nth-child(2) {
  margin-top: 10px;
}

/*# sourceMappingURL=style.css.map */
