html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lato-Regular';
}

@font-face {
    font-family: 'Lato-Regular';
    src: url(../../fonts/Lato/Lato-Regular.ttf);
}
@font-face {
    font-family: 'Lato-Italic';
    src: url(../../fonts/Lato/Lato-Italic.ttf);
}
@font-face {
    font-family: 'Lato-Bold';
    src: url(../../fonts/Lato/Lato-Bold.ttf);
}
@font-face {
    font-family: 'Lato-BoldItalic';
    src: url(../../fonts/Lato/Lato-BoldItalic.ttf);
}

.btn {
    width: max-content;
    padding: 8px 15px;
    font-size: .9em;
    font-weight: 600;
    border: 1px solid $black70;
    border-radius: 2px;
    cursor: pointer;

    @media only screen and (max-width: 600px) {
        padding: 5px 8px;
        font-size: .8em;
    }

    &--large {
        padding: 20px 25px;

        @media only screen and (max-width: 600px) {
            padding: 15px 20px;
        }
    }
    &--blue {
        color: $white;
        background-color: $cloudBlue;
    }
    &--black {
        color: $white;
        background-color: $blackBold;
    }
}

.show {
    display: flex !important;
}