.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;

    @media only screen and (max-width: 600px) {
        padding: 15px 20px;
    }

    &__logo {
        width: 40%;
        display: flex;
        justify-content: center;

        @media only screen and (max-width: 600px) {
            padding: 0 0 0 15px;
        }
        
        img {

            @media only screen and (max-width: 600px) {
                height: 15px;
            }
        }
    }
    &__btn {
        width: 30%;
        display: flex;
        justify-content: center;

        @media only screen and (max-width: 600px) {
            width: max-content;
        }
    }
}

.hero {
    background-color: $black;
    padding: 0 50px 50px;
    display: flex;
    justify-content: center;

    @media only screen and (max-width: 600px) {
        padding: 0 0 30px;
        flex-direction: column;
    }

    &__img {
        width: 40%;
        display: flex;
        justify-content: start;

        @media only screen and (max-width: 600px) {
            width: 100%;
            justify-content: center;
        }

        img {

            @media only screen and (max-width: 600px) {
                height: 350px;
            }
        }
    }
    &__titles {
        width: 40%;
        padding: 50px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media only screen and (max-width: 600px) {
            width: 100%;
        }

        &__logo {
            width: 480px;

            @media only screen and (max-width: 600px) {
                height: 40px;
            }
        }
        h3 {
            color: $white;
            font-size: 1.4em;
            margin: 40px 0 0;
            font-family: 'Lato-Bold';

            @media only screen and (max-width: 600px) {
                font-size: 1.1em;
            }
        }
        p {
            color: $white;
            text-align: center;

            @media only screen and (max-width: 600px) {
                width: 70%;
                font-size: .9em;
                margin: 10px 0;
            }
        }
        .btn {
            margin: 20px 0 0;
        }
        &__arrow {
            width: 35px;
            margin: 20px 0 0;
        }
    }
}

.about {
    width: 75%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 50px 0;
    color: $black70;
    text-align: justify;

    @media only screen and (max-width: 600px) {
        width: 90%;
    }

    &__title h1 {
        color: $cloudBlue;
        font-size: 2.1em;
        font-family: 'Lato-Bold';
        text-align: center;

        @media only screen and (max-width: 600px) {
            font-size: 1.5em;
        }
    }
    &__captions {
        display: flex;
        justify-content: space-around;

        @media only screen and (max-width: 600px) {
            flex-direction: column;
        }

        > p {
            width: 42%;
            font-size: .8em;

            @media only screen and (max-width: 600px) {
                width: 100%;
                margin: 10px 0 0;
            }
        }
        &__right {
            width: 48%;
            font-size: .8em;

            @media only screen and (max-width: 600px) {
                width: 100%;
            }

            &__1 {
                display: flex;

                > img {
                    width: 40px;
                    margin: 0 15px 0 0;
                }
            }
            > p {
                margin: 0;
            }
        }
    }
    &__thirdcapt {
        margin: 20px 0;
        text-align: center;
        font-family: 'Lato-Bold';
        color: $black;
        font-size: .9em;

        @media only screen and (max-width: 600px) {
            display: flex;
            flex-direction: column;
        }

        & :nth-child(2) {
            color: $red;
            font-size: 1.2em;
            font-family: 'Lato-BoldItalic';
            margin: 0 0 0 10px;
        }
    }
}

.form {
    color: $white;
    background-color: $cloudBlue;
    background-image: url("../../img/Curtis_background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__section {
        width: 75%;
        display: flex;
        justify-content: start;
        margin: 0 auto;
        padding: 80px 0;

        @media only screen and (max-width: 600px) {
            flex-direction: column;
            width: 90%;
        }
    }
    &__caption {
        width: 40%;

        @media only screen and (max-width: 600px) {
            width: 100%;
        }

        > h1 {
            font-size: 2.2em;
            font-family: 'Lato-Bold';

            @media only screen and (max-width: 600px) {
                font-size: 1.9em;
            }
        }
        > p {
            width: 80%;
            font-size: 1.1em;

            @media only screen and (max-width: 600px) {
                width: 100%;
                font-size: 1em;
            }
        }
    }
    &__forms {
        width: 50%;
        margin: 0 0 0 40px;

        @media only screen and (max-width: 600px) {
            width: 100%;
            margin: 0;
        }
    }
    &__each {
        // width: 80%;
        margin: 10px 0;
        font-size: 1.1em;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media only screen and (max-width: 600px) {
            font-size: 1.1em;
            flex-direction: column;
            justify-content: start;
            align-items: flex-start;
        }

        input, select {
            width: 70%;
            height: 57px;
            margin: 0 0 0 20px;
            padding: 0 20px;
            border: none;
            border-radius: 3px;
            background-color: $white;

            @media only screen and (max-width: 600px) {
                margin: 0;
                width: 100%;
            }
        }
    }
    &__actions {
        margin: 30px 0 0 50px;
        display: flex;
        justify-content: space-between;

        & > span {
            // width: 70%;
            font-size: .8em;
        }
    }
}

.program {
    background-image: url("../../img/Abby_background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__section {
        color: $black;
        width: 75%;
        text-align: center;
        margin: 0 auto;
        padding: 50px 0 70px;

        @media only screen and (max-width: 600px) {
            width: 90%;
        }

        > h1 {
            margin: 0;
            padding: 20px 0;
            font-family: 'Lato-Bold';

            @media only screen and (max-width: 600px) {
                font-size: 1.5em;
            }
        }
    }
    &__caption {
        display: flex;
        justify-content: space-around;

        @media only screen and (max-width: 600px) {
            flex-direction: column;
        }

        > p {
            text-align: justify;
            font-size: .8em;
            padding: 0 10px;
        }
    }
}

.faq {
    background-image: url("../../img/Taliqua_background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__section {
        color: $white;
        width: 75%;
        margin: 0 auto;
        padding: 70px 0;

        @media only screen and (max-width: 600px) {
            width: 90%;
        }

        > h1 {
            margin: 0;
            padding: 0 0 20px 0;
            font-family: 'Lato-Bold';
            text-align: center;
        }
    }
    &__eachQ, &__eachA {
        width: 60%;
        border-radius: 3px;
        margin: 0 auto;
        padding: 0 20px;

        @media only screen and (max-width: 600px) {
            width: 80%;
            margin: auto;
        }

        > span {
            margin: 0 20px 0 0;
            font-size: .9em;
            font-family: 'Lato-Bold';
        }
        > p {
            margin: 0;
            font-size: .8em;
        }
    }
    &__eachQ {
        height: 50px;
        background-color: $red20;
        align-items: center;
        display: flex;
    }
    &__eachA {
        padding: 20px 20px;
        color: $black;
        background-color: $white;
        display: none;
        align-items: flex-start;

        > span {
            color: $red;
        }
    }
    &__list {
        margin: 10px 0;
        cursor: pointer;
    }
}

.footer {
    width: 75%;
    margin: 0 auto;
    padding: 50px 0;

    @media only screen and (max-width: 600px) {
        width: 90%;
    }

    &__logo {
        margin: 0 0 15px;
        display: flex;
        justify-content: flex-end;

        @media only screen and (max-width: 600px) {
            justify-content: center;
        }

        img {
            height: 40px;

            @media only screen and (max-width: 600px) {
                height: 50px;
            }
        }
    }
    &__nav {
        border-top: 1px solid $black70;

        ul {
            padding: 0;
            display: flex;
            justify-content: center;

            @media only screen and (max-width: 600px) {
                flex-wrap: wrap;
            }

            li {
                color: $black70;
                font-size: .7em;
                list-style: none;
                cursor: pointer;

                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6),
                &:nth-child(7),
                &:nth-child(8) {
                    border-left: 1px solid $black70;
                    margin: 0 0 0 5px;
                    padding: 0 0 0 5px;
                }
            }
        }
    }
    &__tm {
        font-size: .7em;
        color: $black70;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        span {

            &:nth-child(2) {
                margin-top: 10px;
            }
        }
    }
}